.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 112px;
  max-width: 100%;
}
.notchIcon {
  width: 219px;
  height: 30px;
  position: relative;
  object-fit: cover;
  display: none;
}
.recordingIndicatorIcon {
  width: 6px;
  height: 6px;
position: relative;
  display: none;
}
.homeIndicator1 {
  height: 5px;
  width: 134px;
  position: relative;
  border-radius: 100px;
  background-color: var(--color-black);
}
.homeIndicator,
.signIn {
  display: flex;
  align-items: flex-start;
}
.homeIndicator {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-2xl) var(--padding-xl) var(--padding-5xs)
var(--padding-2xl);
}
.signIn {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
  box-sizing: border-box;
  gap: 200px;
  line-height: normal;
  letter-spacing: normal;
